@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;
}
html {
  scroll-behavior: smooth;
}

p {
  font-size: 15px;
  text-align: justify;
}

a {
  text-decoration: none;
  font-size: 13px;
  text-transform: capitalize;
}

h1,
.heading-text,
h2,
h3,
h4 {
  font-family: Playfair Display;
  text-transform: capitalize;
}

.header-new {
  box-shadow: 5px 2px 6px 0 rgba(0,0,0,.1);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 20px;
  z-index: 3;
}

.header-new .circled-p-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  padding: 10px 20px;
  
}

.circled-p-logo {
  border-radius: 100%;
  border: 2px solid hsl(157, 78%, 32%);
  padding: 3px;
  margin-right: 5px;
}

.circled-p-logo-heading {
  color: hsl(157, 78%, 32%);
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}


.menu  a{
color: hsl(0, 0%, 0%);
}

.header-new  ul{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: hsl(157, 78%, 32%);
}

.header-new ul a{
  display: block;
  padding: 20px;
}

.header-new ul a:hover{
  background-color: hsl(159, 96%, 19%);
  font-weight: bold;
  color: hsl(0, 0%, 100%);
}

.header-new .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.header-new .menu-icon{
  padding: 20px 20px;
  position: relative;
  float: right;
  cursor: pointer;
}

.header-new .menu-icon .nav-icon{
  background: hsl(0, 0%, 100%);
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  float: right;
  transition: background 0.5s ease-out;
}

.header-new .menu-icon .nav-icon:before{
  background: hsl(0, 0%, 0%);
  content: ("");
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.5s ease-out;
  top: 5px;
}
.header-new .menu-icon .nav-icon:after{
  background: hsl(0, 0%, 0%);
  content: ("");
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.5s ease-out;
  top: -5px;
}

.header-new .menu-btn{
  display: none;
}

.header-new .menu-btn:checked ~ .menu {
  max-height: 500px;
  
}

.header-new .menu-btn:checked ~ .menu-icon .nav-icon{
  background: transparent;
}
.header-new .menu-btn:checked ~ .menu-icon .nav-icon.nav-icon::before{
  transform: rotate(-45deg);
  top: 0;
}
.header-new .menu-btn:checked ~ .menu-icon .nav-icon.nav-icon::after{
  transform: rotate(45deg);
  top: 0;
}

@media (min-width:48em) {

  .header-new li {
    float: left;
  }

  .header li a {
    padding: 20px 30px;
  }

  .header-new .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header-new .menu-icon {
    display: none;
  }

}


/* footer */
footer {
  display: grid;
  place-items: center end;
  background-color: hsl(0, 0%, 0%);
  min-height: 60px;
  padding: 20px;
}

footer a {
  font-size: 16px; 
}

.socials {
  color: hsl( 0, 0%, 52%);
  text-decoration: none;
  margin-left: 5px;
  padding: 5px;
  transition: all 0.5s;
}

.socials:hover {
  color: hsl(0, 0%, 100%);
}


/* main contents */
main {
  min-height: 100vh;
}

.main-container {
  min-height: 400px;
}

.home {
  background: linear-gradient(hsla(0, 0%, 0%, 0.084), hsla(120, 95%, 14%, 0.525)),
    url("./Assets/Images/pecuihe-dp.jpg") no-repeat center/contain;
  padding: 10%;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.home-title {
  font-size: 12px;
}

.main-one-wrapper {
  display: grid;
  gap: 20px;
  color: hsl(0, 0%, 100%);
}

.name {
  color: hsl(0, 89%, 57%);
  font-size: 2.5rem;
}

.pecuihe-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.description {
  max-width: 400px;
}

.pecuihe-button {
  display: inline-block;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  background-color: hsl(0, 75%, 56%);
  padding: 10px;
  border-radius: 2px;
  transition: all 0.5s;
}

.pecuihe-button:last-of-type {
  background-color: hsl(159, 96%, 19%);
}

.pecuihe-button:hover {
  scale: 0.95;
}

.about,
.services,
.experience,
.blog,
.projects,
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 150px 25px;
}

.heading-text {
  font-weight: bold;
  font-size: x-large;
  letter-spacing: 3px;
  font-family: Open Sans;
}

.underline-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.underline {
  width: 60px;
  height: 4px;
  background-color: hsl(0, 0%, 0%);
  border-radius: 99px;
}
.pecuihe-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 40px;
  width: 100%;
}

.pecuihe-card-wrapper > div {
  max-width: 320px;
}

.download {
  width: fit-content;
  padding: 10px 25px;
  border: 0;
  background-color: hsl(159, 96%, 19%);
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  border-radius: 2px;
  transition: all 0.5s;
}

.download:hover {
  scale: 0.95;
  background-color: hsl(0, 0%, 0%);
}
.about-image {
  max-width: 320px;
  display: block;
  height: 100%;
}

.about-skill-level {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Services starts here */

.main-container:nth-of-type(3) {
  background-color: hsl(0, 44%, 44%);
  color: hsl(0, 0%, 100%);
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 40px;
}

.card-icon-wrapper {
  display: flex;
  gap: 10px;
}

.service-card h4 {
  margin-bottom: 10px;
}

.services-underline {
  background-color: hsl(0, 0%, 95%);
}

/* Experience */

.experience img {
  width: 100%;
}

.experience-card {
  background-color: hsl(0, 3%, 69%);
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: space-between;
  gap: 20px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.experience-description {
  padding: 10px;
}

.badge {
  background-color: hsl(165, 60%, 48%);
  border-radius: 5px;
  padding: 5px 20px;
  font-size: x-small;
  color: hsl(0, 0%, 100%);
}

/* Blog */

.blog {
  background: linear-gradient(hsla(0, 0%, 0%, 0.333), hsla(0, 0%, 0%, 0.502)),
    url(./Assets/Images/blog.writing.jpg) no-repeat center/cover border-box;
  color: hsl(0, 0%, 100%);
}

.blog .underline {
  background-color: hsl(0, 0%, 100%);
}

.blog-heading {
  width: 100%;
  max-width: 1050px;
  line-height: 2;
}
.blog-heading p {
  line-height: 2;
  color: hsl(0, 0%, 80%);
}

.blog-card {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
  border-radius: 2px;
  padding: 10px 0;
}

.blog-card p {
  padding: 5px 10px;
}

.blog-card a {
  color: hsl(159, 96%, 19%);
  display: block;
  margin: 10px;
  transition: all 0.5s;
  width: fit-content;
}
.blog-card a:hover {
  color: hsl(165, 60%, 48%);
  text-decoration: underline;
}

/* Projects */

.projects-image {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* works */
.works {
  min-height: fit-content !important;
  padding: 70px 2.5%;
  text-align: center;
  color: hsl(0, 0%, 100%);
  background-color: hsl(159, 96%, 19%);
}

.works-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.works-description {
  max-width: 500px;
}

.works-navigation-wrapper {
  display: flex;
  justify-content: center;
  gap: 3px;
}

.works-navigation {
  padding: 10px 25px;
  font-size: 12px;
  transition: all 0.5s;
}
.works-navigation:hover {
  scale: 0.95;
  border-radius: 0.25rem;
}

.works-navigation:first-of-type {
  background-color: hsl(0, 0%, 100%);
  color: hsl(159, 96%, 19%);
}

.works-navigation:last-of-type {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
}

.works-navigation:hover {
  background-color: hsl(165, 60%, 48%);
  color: hsl(0, 0%, 100%);
}

/* Contact */

.contact-card-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.contact-card {
  width: 100%;
  max-width: 320px;
}

.card-icon-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

.card-icon-wrapper i,
.input-container i {
  color: hsl(159, 96%, 19%);
}

.card-icon-container .card-icon-wrapper:last-of-type h4 {
  text-transform: lowercase;
}

.map {
  height: 200px;
  background-color: hsl(159, 96%, 19%);
  border-radius: 5px;
}

.contact-form {
  margin-top: 20px;
}

.input-container {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}

.input-container label {
  font-weight: bold;
  font-size: 12px;
  margin-top: 3px;
  flex: 0.3;
}

.input-container input,
textarea {
  padding: 9px 15px;
  flex: 1;
  border: 1px solid hsl(0, 0%, 86%);
  outline: 0;
  border-radius: 3px;
}

.input-container textarea {
  height: 80px;
  resize: none;
}

.input-container input::placeholder, textarea::placeholder {
  font-size: 10px;
  color: hsl(0, 0%, 69%);
}

.submit-btn {
  overflow: hidden;
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: hsl(159, 96%, 19%);
  color: hsl(0, 0%, 100%);
  border: 0;
  padding: 10px;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 3px;
  float: right;
}

.submit-btn:hover {
  background-color: hsl(165, 60%, 48%);
}

.submit-btn:hover .send-icon {
  translate: 0;
  opacity: 1;
}

.send-icon {
  transition: all 0.5s;
  opacity: 0;
  translate: 0 100%;
}
